* {
    
  box-sizing: border-box;
 
  }
  
  body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: rgb(1, 1, 70);

  }
  
  header {

    font-size: larger;
    padding: 30px;
    text-align: left;
    background-image: linear-gradient(180deg, blue, black);
    color: white;

  }
  
  nav {

    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: end; 
    text-decoration: underline;
    font-size: larger;

  }

  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-display: unde;

  }

  .aboutme, .project {

    display: flex; 
    flex-direction: row; 
    margin: 25px 0;
    padding: 10px 0;
    font-weight: bolder;
    color: white;
    background-color: rgb(1, 1, 70);

  }

  .aboutme > h1 {

    flex:0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid;

  }

  #me {

    margin-left: 15px;

  }

.project > h1 {

flex:0 0 20%;
text-align: right;
padding-right: 15px;
border-right: 4px solid;

}

img {

  display: block;
  align-content: center;
  width: 700px;

}

.contact {

  display: flex; 
  flex-direction: row;  
  justify-content: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: bolder;
  color: white;
  background-color: rgb(1, 1, 70);

}

.contact > h1 {
flex:0 0 20%;
text-align: right;
padding-right: 15px;
border-right: 4px solid;
}

footer {
  display: flex;  
  flex-direction: row;
  padding: 0 0 0 0;
  background-image: linear-gradient(180deg, black, blue);
  color: #fff;
}

footer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  font-size: 25px;
}

footer > ul > li {
  display: flex;
  margin: auto;
  padding: 10px;
}

a:link { 
  color: white;
}

a:hover {
  color: grey;
}

a:visited {
  color: purple ;
}

  
@media screen and (max-width: 768px) {

.aboutme {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: 25px 0;
    padding: 0 0 0 15px;
    align-items: stretch;
    font-weight: bolder;
    color: white;
    background-color: rgb(1, 1, 70);
  }
}